        <title>UseBike - Home</title>
    <!-- START PRELOADER-->
    <div id="preloader-wrapper">
      <div id="loader">
        <div class="chasing-dots loader-black">
          <div class="child dot1"></div>
          <div class="child dot2"></div>
        </div>
      </div>
      <div class="loader-section section-top bg-amber"></div>
      <div class="loader-section section-bottom bg-amber"></div>
    </div>

    <!-- END PRELOADER-->

    <!-- navbar-fixed-top-->
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-dark navbar-brand-center navbar-shadow navbar-border">
      <div class="navbar-wrapper">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li class="nav-item mobile-menu hidden-md-up float-xs-left"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5 font-large-1"></i></a></li>
            <li class="nav-item"><a  style="padding:2px 2px;" href="index.html" class="navbar-brand nav-link"><img style="width:67%" alt="branding logo" src="robust-assets/images/logo/usebike-logo.png" data-expand="robust-assets/images/logo/usebike-logo.png" data-collapse="robust-assets/images/logo/robust-logo-small.png" class="brand-logo"></a></li>
            <li class="nav-item hidden-md-up float-xs-right"><a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i class="icon-ellipsis pe-2x icon-icon-rotate-right-right"></i></a></li>
          </ul>
        </div>
        <div class="navbar-container content container-fluid">
          <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
            <ul class="nav navbar-nav">
              <li style="display:none" class="nav-item hidden-sm-down"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5"></i></a></li>
              <li style="display:none" class="nav-item nav-search"><a href="#" class="nav-link nav-link-search fullscreen-search-btn"><i class="ficon icon-search7"></i></a></li>
              <li style="display:none" class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i class="ficon icon-expand2"></i></a></li>
              <li style="display:none" class="dropdown nav-item mega-dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link">Mega</a>
                <ul class="mega-dropdown-menu dropdown-menu row">
                  <li class="col-md-2">
                    <h6 class="dropdown-menu-header text-uppercase mb-1"><i class="icon-paper"></i> News</h6>
                    <div id="mega-menu-carousel-example" class="responsive-slick">
                      <div><img src="robust-assets/images/slider/slider-2.png" alt="First slide" class="rounded img-fluid mb-1"><a href="#" class="news-title mb-0">Poster Frame PSD</a>
                        <p class="news-content"><span class="font-small-2">January 26, 2016</span></p>
                      </div>
                      <div><img src="robust-assets/images/slider/slider-5.png" alt="First slide" class="rounded img-fluid mb-1"><a href="#" class="news-title mt-1 mb-0">Header MockUp</a>
                        <p class="news-content"><span class="font-small-2">January 15, 2016</span></p>
                      </div>
                      <div><img src="robust-assets/images/slider/slider-6.png" alt="First slide" class="rounded img-fluid mb-1"><a href="#" class="news-title mt-1 mb-0">2 Poster PSD</a>
                        <p class="news-content"><span class="font-small-2">January 15, 2016</span></p>
                      </div>
                    </div>
                  </li>
                  <li class="col-md-3">
                    <h6 class="dropdown-menu-header text-uppercase"><i class="icon-shuffle3"></i> Drill down menu</h6>
                    <ul class="drilldown-menu">
                      <li class="menu-list">
                        <ul>
                          <li><a href="layout-2-columns.html" class="dropdown-item"><i class="icon-layout"></i> Page layouts & Templates</a></li>
                          <li><a href="#"><i class="icon-layers"></i> Multi level menu</a>
                            <ul>
                              <li><a href="#" class="dropdown-item"><i class="icon-share4"></i>  Second level</a></li>
                              <li><a href="#"><i class="icon-umbrella3"></i> Second level menu</a>
                                <ul>
                                  <li><a href="#" class="dropdown-item"><i class="icon-microphone2"></i>  Third level</a></li>
                                  <li><a href="#" class="dropdown-item"><i class="icon-head"></i> Third level</a></li>
                                  <li><a href="#" class="dropdown-item"><i class="icon-signal2"></i> Third level</a></li>
                                  <li><a href="#" class="dropdown-item"><i class="icon-camera8"></i> Third level</a></li>
                                </ul>
                              </li>
                              <li><a href="#" class="dropdown-item"><i class="icon-flag4"></i> Second level, third link</a></li>
                              <li><a href="#" class="dropdown-item"><i class="icon-box"></i> Second level, fourth link</a></li>
                            </ul>
                          </li>
                          <li><a href="color-palette-primary.html" class="dropdown-item"><i class="icon-marquee-plus"></i> Color pallet system</a></li>
                          <li><a href="sk-2-columns.html" class="dropdown-item"><i class="icon-edit2"></i> Page starter kit</a></li>
                          <li><a href="changelog.html" class="dropdown-item"><i class="icon-files-empty"></i> Change log</a></li>
                          <li><a href="http://support.pixinvent.com/" class="dropdown-item"><i class="icon-tencent-weibo"></i> Customer support center</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="col-md-3">
                    <h6 class="dropdown-menu-header text-uppercase"><i class="icon-list2"></i> Accordion</h6>
                    <div id="accordionWrap" role="tablist" aria-multiselectable="true">
                      <div class="card no-border box-shadow-0 collapse-icon accordion-icon-rotate">
                        <div id="headingOne" role="tab" class="card-header p-0 pb-1 no-border"><a data-toggle="collapse" data-parent="#accordionWrap" href="#accordionOne" aria-expanded="true" aria-controls="accordionOne" class="card-title">Accordion Group Item #1</a></div>
                        <div id="accordionOne" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true" class="card-collapse collapse in">
                          <div class="card-body">
                            <p class="accordion-text">Caramels dessert chocolate cake pastry jujubes bonbon. Jelly wafer jelly beans. Caramels chocolate cake liquorice cake wafer jelly beans croissant apple pie.</p>
                          </div>
                        </div>
                        <div id="headingTwo" role="tab" class="card-header p-0 pb-1 no-border"><a data-toggle="collapse" data-parent="#accordionWrap" href="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo" class="card-title collapsed">Accordion Group Item #2</a></div>
                        <div id="accordionTwo" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" class="card-collapse collapse">
                          <div class="card-body">
                            <p class="accordion-text">Sugar plum bear claw oat cake chocolate jelly tiramisu dessert pie. Tiramisu macaroon muffin jelly marshmallow cake. Pastry oat cake chupa chups.</p>
                          </div>
                        </div>
                        <div id="headingThree" role="tab" class="card-header p-0 pb-1 no-border"><a data-toggle="collapse" data-parent="#accordionWrap" href="#accordionThree" aria-expanded="false" aria-controls="accordionThree" class="card-title collapsed">Accordion Group Item #3</a></div>
                        <div id="accordionThree" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" class="card-collapse collapse">
                          <div class="card-body">
                            <p class="accordion-text">Candy cupcake sugar plum oat cake wafer marzipan jujubes lollipop macaroon. Cake dragée jujubes donut chocolate bar chocolate cake cupcake chocolate topping.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="col-md-4">
                    <h6 class="dropdown-menu-header text-uppercase mb-1"><i class="icon-mail6"></i> Contact Us</h6>
                    <form>
                      <fieldset class="form-group position-relative has-icon-left">
                        <label for="inputName1" class="col-sm-3 form-control-label">Name</label>
                        <div class="col-sm-9">
                          <input type="text" id="inputName1" placeholder="John Doe" class="form-control">
                          <div class="form-control-position"><i class="icon-head"></i></div>
                        </div>
                      </fieldset>
                      <fieldset class="form-group position-relative has-icon-left">
                        <label for="inputEmail1" class="col-sm-3 form-control-label">Email</label>
                        <div class="col-sm-9">
                          <input type="email" id="inputEmail1" placeholder="john@example.com" class="form-control">
                          <div class="form-control-position"><i class="icon-mail6"></i></div>
                        </div>
                      </fieldset>
                      <fieldset class="form-group position-relative has-icon-left">
                        <label for="inputMessage1" class="col-sm-3 form-control-label">Message</label>
                        <div class="col-sm-9">
                          <textarea id="inputMessage1" rows="2" placeholder="Simple Textarea" class="form-control"></textarea>
                          <div class="form-control-position"><i class="icon-file-text"></i></div>
                        </div>
                      </fieldset>
                      <div class="col-sm-12 mb-1">
                        <button type="button" class="btn btn-primary float-xs-right"><i class="icon-send-o"></i> Send</button>
                      </div>
                    </form>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav float-xs-right">
              <li class="dropdown dropdown-notification nav-item"><a href="#" data-toggle="dropdown" class="nav-link nav-link-label"><i class="ficon icon-bell4"></i><span class="tag tag-pill tag-default tag-danger tag-default tag-up">5</span></a>
                <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                  <li class="dropdown-menu-header">
                    <h6 class="dropdown-header m-0"><span class="grey darken-2">Notifications</span><span class="notification-tag tag tag-default tag-danger float-xs-right m-0">5 New</span></h6>
                  </li>
                  <li class="list-group scrollable-container"><a href="javascript:void(0)" class="list-group-item">
                      <div class="media">
                        <div class="media-left valign-middle"><i class="icon-cart3 icon-bg-circle bg-cyan"></i></div>
                        <div class="media-body">
                          <h6 class="media-heading">You have new order!</h6>
                          <p class="notification-text font-small-3 text-muted">Lorem ipsum dolor sit amet, consectetuer elit.</p><small>
                            <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">30 minutes ago</time></small>
                        </div>
                      </div></a><a href="javascript:void(0)" class="list-group-item">
                      <div class="media">
                        <div class="media-left valign-middle"><i class="icon-monitor3 icon-bg-circle bg-red bg-darken-1"></i></div>
                        <div class="media-body">
                          <h6 class="media-heading red darken-1">99% Server load</h6>
                          <p class="notification-text font-small-3 text-muted">Aliquam tincidunt mauris eu risus.</p><small>
                            <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Five hour ago</time></small>
                        </div>
                      </div></a><a href="javascript:void(0)" class="list-group-item">
                      <div class="media">
                        <div class="media-left valign-middle"><i class="icon-server2 icon-bg-circle bg-yellow bg-darken-3"></i></div>
                        <div class="media-body">
                          <h6 class="media-heading yellow darken-3">Warning notifixation</h6>
                          <p class="notification-text font-small-3 text-muted">Vestibulum auctor dapibus neque.</p><small>
                            <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Today</time></small>
                        </div>
                      </div></a><a href="javascript:void(0)" class="list-group-item">
                      <div class="media">
                        <div class="media-left valign-middle"><i class="icon-check2 icon-bg-circle bg-green bg-accent-3"></i></div>
                        <div class="media-body">
                          <h6 class="media-heading">Complete the task</h6><small>
                            <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Last week</time></small>
                        </div>
                      </div></a><a href="javascript:void(0)" class="list-group-item">
                      <div class="media">
                        <div class="media-left valign-middle"><i class="icon-bar-graph-2 icon-bg-circle bg-teal"></i></div>
                        <div class="media-body">
                          <h6 class="media-heading">Generate monthly report</h6><small>
                            <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Last month</time></small>
                        </div>
                      </div></a></li>
                  <li class="dropdown-menu-footer"><a href="javascript:void(0)" class="dropdown-item text-muted text-xs-center">Read all notifications</a></li>
                </ul>
              </li>
              <li class="dropdown dropdown-user nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link"><span class="avatar avatar-online"><img src="robust-assets/images/portrait/small/avatar-s-1.png" alt="avatar"><i></i></span><span class="user-name">Felizão</span></a>
                <div class="dropdown-menu dropdown-menu-right"><a href="#" class="dropdown-item"><i class="icon-head"></i> Edit Profile</a><a href="#" class="dropdown-item"><i class="icon-mail6"></i> My Inbox</a><a href="#" class="dropdown-item"><i class="icon-clipboard2"></i> Task</a><a href="#" class="dropdown-item"><i class="icon-calendar5"></i> Calender</a>
                  <div class="dropdown-divider"></div><a href="#" class="dropdown-item"><i class="icon-power3"></i> Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- ////////////////////////////////////////////////////////////////////////////-->



    <div class="robust-content content container-fluid" style="margin-left:0px">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><!--fitness stats-->
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">Retirada em</span>
                                <span class="font-large-3 line-height-1 text-bold-300">25</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-1 block">pontos</span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">Bikes</span>
                                <span class="font-large-3 line-height-1 text-bold-300">172</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-1 block">Alugadas</span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">Bikes</span>
                                <span class="font-large-3 line-height-1 text-bold-300">34</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-1 block">Disponiveis</span>
                                <span class="block"><i class="icon-arrow-down4 deep-orange accent-3"></i></span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">Tempo médio de locação</span>
                                <span class="font-large-3 line-height-1 text-bold-300">2.3</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-1 block">hh:mm</span>
                                <span class="block"><i class="icon-arrow-up4 success"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- friends & weather charts -->
<div class="row match-height">
    <div class="col-xl-3 col-lg-5 col-md-11">
        <div class="card no-border box-shadow-0">
            <div class="card-body collapse in">
                <div class="weather-date position-relative">
                    <div class="date-info position-absolute bg-light-blue bg-lighten-1 white mt-3 p-1 text-xs-center">
                        <span class="date block">28</span>
                        <span class="month">Fev</span>
                    </div>
                </div>
                <div class="card-block bg-light-blue bg-lighten-4">
                    <ul class="list-inline text-xs-right mb-0">
                        <li><a data-action="reload"><i class="icon-reload font-medium-4 light-blue"></i></a></li>
                    </ul>
                    <div class="animated-weather-icons text-xs-center">
                        <svg version="1.1" id="cloudDrizzleAlt" class="climacon climacon_cloudDrizzleAlt climacon-light-blue climacon-darken-2 height-200" viewBox="15 15 70 70">
                            <g class="climacon_iconWrap climacon_iconWrap-cloudDrizzleAlt">
                                <g class="climacon_wrapperComponent climacon_wrapperComponent-drizzle">
                                    <path class="climacon_component climacon_component-stroke climacon_component-stroke_drizzle climacon_component-stroke_drizzle-left" id="Drizzle-Left_1_" d="M56.969,57.672l-2.121,2.121c-1.172,1.172-1.172,3.072,0,4.242c1.17,1.172,3.07,1.172,4.24,0c1.172-1.17,1.172-3.07,0-4.242L56.969,57.672z"></path>
                                    <path class="climacon_component climacon_component-stroke climacon_component-stroke_drizzle climacon_component-stroke_drizzle-middle" d="M50.088,57.672l-2.119,2.121c-1.174,1.172-1.174,3.07,0,4.242c1.17,1.172,3.068,1.172,4.24,0s1.172-3.07,0-4.242L50.088,57.672z"></path>
                                    <path class="climacon_component climacon_component-stroke climacon_component-stroke_drizzle climacon_component-stroke_drizzle-right" d="M43.033,57.672l-2.121,2.121c-1.172,1.172-1.172,3.07,0,4.242s3.07,1.172,4.244,0c1.172-1.172,1.172-3.07,0-4.242L43.033,57.672z"></path>
                                </g>
                                <g class="climacon_wrapperComponent climacon_wrapperComponent-cloud">
                                    <path class="climacon_component climacon_component-stroke climacon_component-stroke_cloud" d="M59.943,41.642c-0.696,0-1.369,0.092-2.033,0.205c-2.736-4.892-7.961-8.203-13.965-8.203c-8.835,0-15.998,7.162-15.998,15.997c0,5.992,3.3,11.207,8.177,13.947c0.276-1.262,0.892-2.465,1.873-3.445l0.057-0.057c-3.644-2.061-6.106-5.963-6.106-10.445c0-6.626,5.372-11.998,11.998-11.998c5.691,0,10.433,3.974,11.666,9.29c1.25-0.81,2.732-1.291,4.332-1.291c4.418,0,8,3.581,8,7.999c0,3.443-2.182,6.371-5.235,7.498c0.788,1.146,1.194,2.471,1.222,3.807c4.666-1.645,8.014-6.077,8.014-11.305C71.941,47.014,66.57,41.642,59.943,41.642z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="weather-details text-xs-center">
                        <span class="mt-2 block light-blue darken-2">Chuva</span>
                        <span class="font-medium-4 text-bold-500 light-blue darken-4">São Luis, BRA</span>
                    </div>
                </div>
                <div class="card-footer bg-light-blue bg-darken-3 py-3 no-border">
                    <div class="row">
                        <div class="col-xs-4 text-xs-center display-table-cell">
                            <i class="icon-wind font-large-1 white lighten-3 valign-middle"></i> <span class="white valign-middle">2KM/H</span>
                        </div>
                        <div class="col-xs-4 text-xs-center display-table-cell">
                            <i class="icon-sun2 font-large-1 white lighten-3 valign-middle"></i> <span class="white valign-middle">67%</span>
                        </div>
                        <div class="col-xs-4 text-xs-center display-table-cell">
                            <i class="icon-thermometer font-large-1 white lighten-3 valign-middle"></i> <span class="white valign-middle">26.0&deg;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-5 col-lg-9">
        <div class="card">
            <div class="card-header no-border-bottom">
                <h4 class="">Encontre o ponto mais <span class="text-muted text-bold-400">próximo</span></h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in">
                <div class="card-block" style="padding: 0rem;">
                  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc-ISwf2kYAUPYbAN2e3xusuDx1TSxuO0&callback=initMap" async defer></script>
                </div>
                 <div id="map" class="height-300"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="basic-layout-square-controls">Locação</h4>
              <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                  <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                  <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body collapse in">
              <div class="card-block">

                <form class="form">
                  <div class="form-body">

                    <div class="form-group">
                      <label for="projectinput5">Ponto de Retirada</label>
                      <select id="selectPonto" name="interested" class="form-control">

                      </select>
                    </div>

                    <div class="form-group">
                      <label for="complaintinput3">Data da Locação</label>
                      <input disabled type="date" id="dataLocacao" class="form-control round" name="complaintdate">
                    </div>

                    <div class="form-group">
                      <label for="timesheetinput5">Duração</label>
                      <small>(hora:minuto - hh:mm)</small>
                      <div class="position-relative has-icon-left">
                        <input type="time" id="duracaoLocacao" class="form-control" name="starttime">
                        <div class="form-control-position">
                          <i class="icon-clock5"></i>
                        </div>
                      </div>
                    </div>

                     <div class="form-group">
                      <label>Total</label>
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input id="precoLocacao" type="text" disabled class="form-control square" placeholder="total" aria-label="Amount (to the nearest dollar)" name="amount">
                        <span class="input-group-addon">.00</span>
                      </div>
                    </div>

                  <div class="form-actions right">
                    <button type="button" class="btn btn-warning mr-1">
                      <i class="icon-cross2"></i> Cancelar
                    </button>
                    <button type="button" id="btnAlugar" class="btn btn-primary">
                      <i class="icon-check2"></i> Alugar
                    </button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
</div>
  </div>

</div>

    <footer style="margin-left:0px" class="footer footer-dark">
      <p class="clearfix text-muted text-sm-center mb-0 px-2"><span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; 2017 <a href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank" class="text-bold-800 grey darken-2">USEBIKE </a>, All rights reserved. </span><span class="float-md-right d-xs-block d-md-inline-block">Hand-crafted & Made with <i class="icon-heart5 pink"></i></span></p>
    </footer>
    
 
