    <script src="/dependencies/robust-vendors.min.js"></script>
    <script src="/dependencies/icheck.min.js"></script>
    <script src="/dependencies/jquery.knob.min.js"></script>
    <script src="/dependencies/raphael-min.js"></script>
    <script src="/dependencies/unslider-min.js"></script>
    <script src="/dependencies/echarts.js"></script>
    <script src="/dependencies/robust-app.min.js"></script>
    <script src="/dependencies/sweetalert.min.js"></script>
<style type="text/css">
.btn-primary {
    border-color: #3D818A;
    background-color: #0D5C77;
    color: #FFF;
}
.btn-success-alt {
    border-color: #DCE775;
    background-color: #DCE775;
    color: #FFF;
}
.btn-primary:hover {
    border-color: #3D818A;
    background-color: #3D818A;
    color: #FFF;
}
.btn-primary:focus {
    border-color: #3D818A;
    background-color: #3D818A;
    color: #FFF;
}
.aluguelEmCurso{
  border-bottom: 1px solid #E0E0E0;
  padding: 1em;
}
</style>

<script type="text/javascript">

$( document ).ready(function() {
    isLogged();
    getPickUps();

    function isLogged(){
      $.ajax({
          url: "api/me/details",
          type: "get",
          dateType: "json",
          success: function (response) {  
            $('#first_name').text(response.first_name);
          },
          error: function(jqXHR, textStatus, errorThrown) {
            erro = jqXHR.status;          
            if(erro == 401 && window.location.pathname != "/"){
              window.location.replace("/");
            } 
          }
       });      
    }


    function logOff(){
      $.ajax({
          url: "api/me/logout",
          type: "put",
          dateType: "json",
          success: function (response) {  
            window.location.replace("/");
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log(response);           
          }
       });        
    }

    $("#logout").on("click", function() {
      logOff();
    });

    function getPickUps(){
      $.ajax({
          url: "api/me/pickUps",
          type: "get",
          dateType: "json",
          success: function (pickups) {  
           for(var pickup = 0; pickup < pickups.length; pickup++){
                var unixTime = pickups[pickup].createdAt;
                var horarioAluguel = new Date(unixTime);
                var duracao = pickups[pickup].duration;
                var retiradaEm = pickups[pickup].location.name;
                var devolvidaEm = "";
                var status = "Aguardando Devolução";
                var tagStatus = "warning";
                var linhaAluguel = "";
                var aluguel = "";
                var alugueisEmCurso = "";
                var itemAluguelEmCurso = "";
                var valores = "";

                //console.log(pickups);

                if(pickups[pickup].dropoff != null){
                  status = "Ok"
                  tagStatus = "success";
                  devolvidaEm = pickups[pickup].dropoff.location.name;
                }

                moment.locale('br');  
                var emCurso = moment(horarioAluguel).fromNow();
                horarioAluguel = moment(horarioAluguel).format('MM/DD/YYYY - hh:mm:ss');

                linhaAluguel =  '<tr>'+
                                '<td class="text-truncate"><div class="icheckbox_square-blue checked" style="position:'+ 
                                'relative;display:none">'+
                                '<input type="checkbox" id="icheck-input-1" class="icheck-activity" checked=""'+
                                'style="position: absolute; opacity: 0;">'+
                                '<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block;'+ 'width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0;'+ 
                                'background: rgb(255, 255, 255);"></ins>'+
                                '</div></td>';

                aluguel =   '<td class="text-truncate">'+horarioAluguel+'</td>'+
                                '<td class="text-truncate">'+duracao+' minutos</td>'+
                                '<td class="text-truncate"><span class="tag tag-default tag-primary">'+retiradaEm+'</span></td>'+
                                '<td class="text-truncate"><span class="tag tag-default tag-success">'+devolvidaEm+'</span></td>'+
                                '<td class="text-truncate"><span class="tag tag-default tag-'+tagStatus+'">'+status+'</span></td>';
                       


                valores = "<td class='text-truncate'><button data-transactions="+JSON.stringify(pickups[pickup].transactions)+" type='button' class='btn btn-success-alt btnValores'>+</button></td></tr>";

                $('#tableHistorico').append(linhaAluguel+aluguel+valores);


               if(pickups[pickup].dropoff == null){

               itemAluguelEmCurso = '<a href="#" class="">'+
                        '<div class="media-left">'+
                        '</div>'; 

               alugueisEmCurso = 
                    '<div class="media-body aluguelEmCurso">'+
                            '<h5 class="list-group-item-heading" style="font-size:0.9em">Bike alugada em: '+pickups[pickup].location.name+' '+
                            '<br><small>as: '+horarioAluguel+'</small>'+
                            '<button type="button" data-pickup="'+pickups[pickup].id+'" data-location="'+pickups[pickup].location.id+'" class="btn btn-success pull-right btnDropoff">Devolver Bike</button></h5>'+
                            '<p class="list-group-item-text"><span class="tag tag-warning ml-1">'+
                            '<i class="icon-bicycle"></i></span></p>'+
                        '</div>'+
                    '</a>';

                $('#divAlugueisEmCurso').append(itemAluguelEmCurso+alugueisEmCurso);

              }


              }
          },
          error: function(jqXHR, textStatus, errorThrown) {
            erro = jqXHR.status;          
            console.log(erro);
          }
       });            
    }

    
$(document.body).on("click", ".btnDropoff", function(){
      var pickup = $(this).data("pickup");
      var location = $(this).data("location");

      data = [];
      data.push({name: 'pickup',value: pickup});
      data.push({name: 'location', value: location});

      $.ajax({
        url: "api/me/dropoffs",
        type: "post",
        data: data,
        dateType: "json",
        success: function (response) {  
          console.log(response);
          toastr.success('Bike devolvida com sucesso.');
          $('#tableHistorico').empty();
          $('#divAlugueisEmCurso').empty();
          getPickUps();
        },
        error: function(jqXHR, textStatus, errorThrown) {
         var responseText = jQuery.parseJSON(jqXHR.responseText);
         console.log(responseText.error);
        }
       });
});

$(document.body).on("click", ".btnValores", function(){

      var transactions = $(this).data("transactions");
      //console.log(transactions);
      textTransactions = "";

      for(var transaction = 0; transaction < transactions.length; transaction ++){
        console.log(transactions[transaction]);
        textTransactions += '<span><b>Tipo de transação:</b> '+transactions[transaction].type+'</span> - '+
               '<span><b>Valor:</b> '+transactions[transaction].amount+' R$</span><br>';
      }

      swal({   
        title: "Valores<small> locação</small>",   
        type: "info",
        text: textTransactions,   
        html: true });
      });

    function logOff(){
      $.ajax({
          url: "api/me/logout",
          type: "put",
          dateType: "json",
          success: function (response) {  
            window.location.replace("/");
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log(response);           
          }
       });        
    }

    $("#logout").on("click", function() {
      logOff();
    });

});



</script>

    <!-- START PRELOADER-->
    <div id="preloader-wrapper">
      <div id="loader">
        <div class="chasing-dots loader-black">
          <div class="child dot1"></div>
          <div class="child dot2"></div>
        </div>
      </div>
      <div class="loader-section section-top bg-amber"></div>
      <div class="loader-section section-bottom bg-amber"></div>
    </div>

    <!-- END PRELOADER-->

    <!-- navbar-fixed-top-->
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-dark navbar-brand-center navbar-shadow navbar-border">
      <div class="navbar-wrapper">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li class="nav-item mobile-menu hidden-md-up float-xs-left"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5 font-large-1"></i></a></li>
            <li class="nav-item"><a  style="padding:2px 2px;" href="index.html" class="navbar-brand nav-link"><img style="width:67%" alt="branding logo" src="robust-assets/images/logo/usebike-logo.png" data-expand="robust-assets/images/logo/usebike-logo.png" data-collapse="robust-assets/images/logo/usebike-logo.png" class="brand-logo"></a></li>
            <li class="nav-item hidden-md-up float-xs-right"><a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i class="icon-ellipsis pe-2x icon-icon-rotate-right-right"></i></a></li>
          </ul>
        </div>
        <div class="navbar-container content container-fluid">
          <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
            <ul class="nav navbar-nav">
              <li style="display:none" class="nav-item hidden-sm-down"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5"></i></a></li>
              <li style="display:none" class="nav-item nav-search"><a href="#" class="nav-link nav-link-search fullscreen-search-btn"><i class="ficon icon-search7"></i></a></li>
              <li style="display:none" class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i class="ficon icon-expand2"></i></a></li>
              <li style="display:none" class="dropdown nav-item mega-dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link">Mega</a>
                <ul class="mega-dropdown-menu dropdown-menu row">
                  <li class="col-md-2">
                    <h6 class="dropdown-menu-header text-uppercase mb-1"><i class="icon-paper"></i> News</h6>
                    <div id="mega-menu-carousel-example" class="responsive-slick">
                      <div><img src="robust-assets/images/slider/slider-2.png" alt="First slide" class="rounded img-fluid mb-1"><a href="#" class="news-title mb-0">Poster Frame PSD</a>
                        <p class="news-content"><span class="font-small-2">January 26, 2016</span></p>
                      </div>
                      <div><img src="robust-assets/images/slider/slider-5.png" alt="First slide" class="rounded img-fluid mb-1"><a href="#" class="news-title mt-1 mb-0">Header MockUp</a>
                        <p class="news-content"><span class="font-small-2">January 15, 2016</span></p>
                      </div>
                      <div><img src="robust-assets/images/slider/slider-6.png" alt="First slide" class="rounded img-fluid mb-1"><a href="#" class="news-title mt-1 mb-0">2 Poster PSD</a>
                        <p class="news-content"><span class="font-small-2">January 15, 2016</span></p>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
            <ul class="nav navbar-nav">
              <li style="display:none" class="nav-item hidden-sm-down"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5"></i></a></li>
              <li style="display:none" class="nav-item nav-search"><a href="#" class="nav-link nav-link-search fullscreen-search-btn"><i class="ficon icon-search7"></i></a></li>
              <li style="display:none" class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i class="ficon icon-expand2"></i></a></li>
              <li style="display:none" class="dropdown nav-item mega-dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link">Mega</a>
                <ul class="mega-dropdown-menu dropdown-menu row">
                  <li class="col-md-2">
                    <h6 class="dropdown-menu-header text-uppercase mb-1"><i class="icon-paper"></i> News</h6>
                    <div id="mega-menu-carousel-example" class="responsive-slick">
                      <div><img src="robust-assets/images/slider/slider-2.png" alt="First slide" class="rounded img-fluid mb-1"><a href="#" class="news-title mb-0">Poster Frame PSD</a>
                        <p class="news-content"><span class="font-small-2">January 26, 2016</span></p>
                      </div>
                      <div><img src="robust-assets/images/slider/slider-5.png" alt="First slide" class="rounded img-fluid mb-1"><a href="#" class="news-title mt-1 mb-0">Header MockUp</a>
                        <p class="news-content"><span class="font-small-2">January 15, 2016</span></p>
                      </div>
                      <div><img src="robust-assets/images/slider/slider-6.png" alt="First slide" class="rounded img-fluid mb-1"><a href="#" class="news-title mt-1 mb-0">2 Poster PSD</a>
                        <p class="news-content"><span class="font-small-2">January 15, 2016</span></p>
                      </div>
                    </div>
                  </li>
                  <li class="col-md-3">
                    <h6 class="dropdown-menu-header text-uppercase"><i class="icon-shuffle3"></i> Drill down menu</h6>
                    <ul class="drilldown-menu">
                      <li class="menu-list">
                        <ul>
                          <li><a href="layout-2-columns.html" class="dropdown-item"><i class="icon-layout"></i> Page layouts & Templates</a></li>
                          <li><a href="#"><i class="icon-layers"></i> Multi level menu</a>
                            <ul>
                              <li><a href="#" class="dropdown-item"><i class="icon-share4"></i>  Second level</a></li>
                              <li><a href="#"><i class="icon-umbrella3"></i> Second level menu</a>
                                <ul>
                                  <li><a href="#" class="dropdown-item"><i class="icon-microphone2"></i>  Third level</a></li>
                                  <li><a href="#" class="dropdown-item"><i class="icon-head"></i> Third level</a></li>
                                  <li><a href="#" class="dropdown-item"><i class="icon-signal2"></i> Third level</a></li>
                                  <li><a href="#" class="dropdown-item"><i class="icon-camera8"></i> Third level</a></li>
                                </ul>
                              </li>
                              <li><a href="#" class="dropdown-item"><i class="icon-flag4"></i> Second level, third link</a></li>
                              <li><a href="#" class="dropdown-item"><i class="icon-box"></i> Second level, fourth link</a></li>
                            </ul>
                          </li>
                          <li><a href="color-palette-primary.html" class="dropdown-item"><i class="icon-marquee-plus"></i> Color pallet system</a></li>
                          <li><a href="sk-2-columns.html" class="dropdown-item"><i class="icon-edit2"></i> Page starter kit</a></li>
                          <li><a href="changelog.html" class="dropdown-item"><i class="icon-files-empty"></i> Change log</a></li>
                          <li><a href="http://support.pixinvent.com/" class="dropdown-item"><i class="icon-tencent-weibo"></i> Customer support center</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="col-md-3">
                    <h6 class="dropdown-menu-header text-uppercase"><i class="icon-list2"></i> Accordion</h6>
                    <div id="accordionWrap" role="tablist" aria-multiselectable="true">
                      <div class="card no-border box-shadow-0 collapse-icon accordion-icon-rotate">
                        <div id="headingOne" role="tab" class="card-header p-0 pb-1 no-border"><a data-toggle="collapse" data-parent="#accordionWrap" href="#accordionOne" aria-expanded="true" aria-controls="accordionOne" class="card-title">Accordion Group Item #1</a></div>
                        <div id="accordionOne" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true" class="card-collapse collapse in">
                          <div class="card-body">
                            <p class="accordion-text">Caramels dessert chocolate cake pastry jujubes bonbon. Jelly wafer jelly beans. Caramels chocolate cake liquorice cake wafer jelly beans croissant apple pie.</p>
                          </div>
                        </div>
                        <div id="headingTwo" role="tab" class="card-header p-0 pb-1 no-border"><a data-toggle="collapse" data-parent="#accordionWrap" href="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo" class="card-title collapsed">Accordion Group Item #2</a></div>
                        <div id="accordionTwo" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" class="card-collapse collapse">
                          <div class="card-body">
                            <p class="accordion-text">Sugar plum bear claw oat cake chocolate jelly tiramisu dessert pie. Tiramisu macaroon muffin jelly marshmallow cake. Pastry oat cake chupa chups.</p>
                          </div>
                        </div>
                        <div id="headingThree" role="tab" class="card-header p-0 pb-1 no-border"><a data-toggle="collapse" data-parent="#accordionWrap" href="#accordionThree" aria-expanded="false" aria-controls="accordionThree" class="card-title collapsed">Accordion Group Item #3</a></div>
                        <div id="accordionThree" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" class="card-collapse collapse">
                          <div class="card-body">
                            <p class="accordion-text">Candy cupcake sugar plum oat cake wafer marzipan jujubes lollipop macaroon. Cake dragée jujubes donut chocolate bar chocolate cake cupcake chocolate topping.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="col-md-4">
                    <h6 class="dropdown-menu-header text-uppercase mb-1"><i class="icon-mail6"></i> Contact Us</h6>
                    <form>
                      <fieldset class="form-group position-relative has-icon-left">
                        <label for="inputName1" class="col-sm-3 form-control-label">Name</label>
                        <div class="col-sm-9">
                          <input type="text" id="inputName1" placeholder="John Doe" class="form-control">
                          <div class="form-control-position"><i class="icon-head"></i></div>
                        </div>
                      </fieldset>
                      <fieldset class="form-group position-relative has-icon-left">
                        <label for="inputEmail1" class="col-sm-3 form-control-label">Email</label>
                        <div class="col-sm-9">
                          <input type="email" id="inputEmail1" placeholder="john@example.com" class="form-control">
                          <div class="form-control-position"><i class="icon-mail6"></i></div>
                        </div>
                      </fieldset>
                      <fieldset class="form-group position-relative has-icon-left">
                        <label for="inputMessage1" class="col-sm-3 form-control-label">Message</label>
                        <div class="col-sm-9">
                          <textarea id="inputMessage1" rows="2" placeholder="Simple Textarea" class="form-control"></textarea>
                          <div class="form-control-position"><i class="icon-file-text"></i></div>
                        </div>
                      </fieldset>
                      <div class="col-sm-12 mb-1">
                        <button type="button" class="btn btn-primary float-xs-right"><i class="icon-send-o"></i> Send</button>
                      </div>
                    </form>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav float-xs-right">
              <li class="dropdown dropdown-user nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link"><span class="avatar avatar-online"><img src="robust-assets/images/portrait/small/avatar-s-1.png" alt="avatar"><i></i></span><span id="first_name" class="user-name">Felizão</span></a>
                <div class="dropdown-menu dropdown-menu-right"><a href="/profile" class="dropdown-item"><i class="icon-head"></i> Editar Perfil</a><a href="/home" class="dropdown-item"><i class="icon-home"></i> Home</a></a>
                  <div class="dropdown-divider"></div><a id="logout" href="#" class="dropdown-item"><i class="icon-power3"></i> Logout</a>
                </div>
              </li>
            </ul>
          </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="robust-content content container-fluid" style="margin-left:0px">
      <div class="content-wrapper" style="padding: 0">
        <div class="content-header row">
        </div>
        <div class="content-body"><!--fitness stats-->
          <div class="row">
              <div class="col-xs-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="card-block">
                              <div class="row">
                                  <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                                      <div class="float-xs-left pl-2">
                                          <span class="grey darken-1 block">Retirada em</span>
                                          <span class="font-large-3 line-height-1 text-bold-300">25</span>
                                      </div>
                                      <div class="float-xs-left mt-2">
                                          <span class="grey darken-1 block">pontos</span>
                                      </div>
                                  </div>
                                  <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                                      <div class="float-xs-left pl-2">
                                          <span class="grey darken-1 block">Bikes</span>
                                          <span class="font-large-3 line-height-1 text-bold-300">172</span>
                                      </div>
                                      <div class="float-xs-left mt-2">
                                          <span class="grey darken-1 block">Alugadas</span>
                                      </div>
                                  </div>
                                  <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                                      <div class="float-xs-left pl-2">
                                          <span class="grey darken-1 block">Bikes</span>
                                          <span class="font-large-3 line-height-1 text-bold-300">34</span>
                                      </div>
                                      <div class="float-xs-left mt-2">
                                          <span class="grey darken-1 block">Disponiveis</span>
                                          <span class="block"><i class="icon-arrow-down4 deep-orange accent-3"></i></span>
                                      </div>
                                  </div>
                                  <div class="col-xl-3 col-lg-6 col-md-12 clearfix">
                                      <div class="float-xs-left pl-2">
                                          <span class="grey darken-1 block">Tempo médio de locação</span>
                                          <span class="font-large-3 line-height-1 text-bold-300">2.3</span>
                                      </div>
                                      <div class="float-xs-left mt-2">
                                          <span class="grey darken-1 block">hh:mm</span>
                                          <span class="block"><i class="icon-arrow-up4 success"></i></span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
<!-- friends & weather charts -->
<div class="row match-height">
<div class="col-xl-8 col-lg-12">
        <div class="card">
            <div class="card-header no-border-bottom">
                <h4 class="card-title">Histórico de Alugúeis</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in">
                <div id="daily-activity" class="table-responsive ps-container ps-theme-default ps-active-y" data-ps-id="b06c5823-a193-b769-b191-24c34ea4ac95">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th><div class="icheckbox_square-blue" style="position: relative;display:none"><input type="checkbox" id="icheck-input-all" class="icheck-activity" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div></th>
                                <th>Data e Hora</th>
                                <th>Duração</th>
                                <th>Retirada em</th>
                                <th>Devolvida em</th>
                                <th>Status</th>
                                <th>Valores</th>
                            </tr>
                        </thead>
                        <tbody id="tableHistorico">
                        </tbody>
                    </table>
                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -36px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div></div>
            </div>
        </div>
    </div>
<div class="col-xl-4 col-lg-12 col-md-12">
        <div class="card" style="height: 455px;">
            <div class="card-header">
                <h4 class="card-title">Aluguéis em curso</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div id="divAlugueisEmCurso" class="list-group height-400 position-relative ps-container ps-theme-default ps-active-y">

                </div>
              </div>
            </div>
        </div>
    </div>
</div>
  </div>

</div>

    <footer style="margin-left:0px" class="footer footer-dark">
      <p class="clearfix text-muted text-sm-center mb-0 px-2"><span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; 2017 <a href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank" class="text-bold-800 grey darken-2">USEBIKE </a>, All rights reserved. </span><span class="float-md-right d-xs-block d-md-inline-block">Hand-crafted & Made with <i class="icon-heart5 pink"></i></span></p>
    </footer>
    
 


    <!-- ////////////////////////////////////////////////////////////////////////////-->