body
  #page-wrapper(ng-class="{'open': toggle}", ng-cloak='')
    #sidebar-wrapper
      ul.sidebar
        li.sidebar-main
          a(ng-click='toggleSidebar()')
            | UseBike
            span.menu-icon.glyphicon.glyphicon-transfer
        li.sidebar-title
          span Navegação

        li.sidebar-list
          a(ui-sref='base.dashboard')
            | Estatísticas
            span.menu-icon.fa.fa-bar-chart

        li.sidebar-list
          a(ui-sref='base.users')
            | Usuários
            span.menu-icon.fa.fa-users

        li.sidebar-list
          a(ui-sref='base.bikes')
            | Bicicletas 
            span.menu-icon.fa.fa-bicycle

        li.sidebar-list
          a(ui-sref='base.locations')
            | Pontos de Aluguel 
            span.menu-icon.fa.fa-map-marker

        li.sidebar-list
          a(ui-sref='base.transactions')
            | Transações
            span.menu-icon.fa.fa-credit-card
        
        


      .sidebar-footer
        

    #content-wrapper
      .page-content
        .row.header
          .col-xs-12
            .user.pull-right
              .item.dropdown(uib-dropdown='')
                a.dropdown-toggle(href='#', uib-dropdown-toggle='')
                  img(src='img/avatar.jpg')
                ul.dropdown-menu.dropdown-menu-right
                  li.dropdown-header {{user.first_name}} {{user.last_name}}
                  li.divider
                  li.link
                    a(ng-click="logout()", style='cursor: pointer;')
                      | Sair
            .meta
              .page
                span {{breadcrumbLast()}}
              .breadcrumb-links
                div(ncy-breadcrumb)
                

        div(ui-view='content')
