body
  #page-wrapper(ng-class="{'open': toggle}", ng-cloak='')
    #sidebar-wrapper
      ul.sidebar
        li.sidebar-main
          a(ng-click='toggleSidebar()')
            | Dashboard
            span.menu-icon.glyphicon.glyphicon-transfer
        li.sidebar-title
          span NAVIGATION
        li.sidebar-list
          a(ui-sref='base.bikes')
            | Bikes 
            span.menu-icon.fa.fa-bicycle
        li.sidebar-list
          a(ui-sref='base.dashboard')
            | Dashboard 
            span.menu-icon.fa.fa-tachometer
        li.sidebar-list
          a(ui-sref='base.tables')
            | Tables 
            span.menu-icon.fa.fa-table
      .sidebar-footer
        

    #content-wrapper
      .page-content
        .row.header
          .col-xs-12
            .user.pull-right
              .item.dropdown(uib-dropdown='')
                a.dropdown-toggle(href='#', uib-dropdown-toggle='')
                  img(src='img/avatar.jpg')
                ul.dropdown-menu.dropdown-menu-right
                  li.dropdown-header {{user.first_name}} {{user.last_name}}
                  li.divider
                  li.link
                    a(ng-click="logout()", style='cursor: pointer;')
                      | Sair
            .meta
              .page
                | Dashboard
              .breadcrumb-links
                | Home / Dashboard

        div(ui-view='content')
